<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349086708062-obb54clqvuvj28p5m09a519khgaa2n8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349086708062-obb54clqvuvj28p5m09a519khgaa2n8f</string>
	<key>API_KEY</key>
	<string>AIzaSyAo5l0Erc3c6udtOof992kJzhxRr9vqaNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>349086708062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-71d86</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-71d86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349086708062:ios:3fbaa30f10e8e9c97b9fcf</string>
</dict>
</plist>